@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
  color-scheme: normal !important;
}

body {
  background: none !important;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  user-select: none;
  overflow: hidden !important;
  /* background: linear-gradient(85deg, #000000e9, #af0000b7); */
}

*, span, p, h1, h2, h3 {
  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;
}

.active {
  color: #fff !important;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  width: .4vw;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #0A1929;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
  border-radius: 10px;
}

